Repository Sabaleaarnav/deltachipurdue, changes with the owners that CODEOWNERS names for each.
All owners: @PresidentGitHub, @AarnavGitHub, @AlumniRelationsGitHub, @CommunityServiceChairGitHub, @PhilanthropyChairGitHub, @SocialChairGitHub, @BrotherhoodChairGitHub, @ScholarshipChairGitHub

Upload “assets/images/20250627_132405_31e469.jpeg”
  assets/images/20250627_132405_31e469.jpeg
Owners: none

Delete “assets/images/20250627_132405_31e469.jpeg”
  assets/images/20250627_132405_31e469.jpeg
Owners: none

Upload “assets/images/20250627_132405_31e469.jpeg”
  assets/images/20250627_132405_31e469.jpeg
Owners: none

Upload “assets/images/20250627_132405_374d18.jpeg”
  assets/images/20250627_132405_374d18.jpeg
Owners: none

Update Leadership “leadership”
  assets/images/20250627_132405_31029c.jpeg
  content/leadership.json
Owners: @PresidentGitHub, @AarnavGitHub

Update Leadership “leadership”
  content/leadership.json
Owners: @PresidentGitHub, @AarnavGitHub

Update Leadership “leadership”
  content/leadership.json
Owners: @PresidentGitHub, @AarnavGitHub

Update Leadership “leadership”
  content/leadership.json
Owners: @PresidentGitHub, @AarnavGitHub

Update index.html
  index.html
Owners: none

Update styles.css
  assets/css/styles.css
Owners: none

Update brotherhood.json
  content/events/brotherhood.json
Owners: none

Update brotherhood.json
  content/events/brotherhood.json
Owners: none

Update brotherhood.json
  content/events/brotherhood.json
Owners: none

Update community-service.json
  content/events/community-service.json
Owners: none

Update philanthropy.json
  content/events/philanthropy.json
Owners: none

Update app.js
  assets/js/app.js
Owners: none

Update gallery.html
  gallery.html
Owners: none

Update app.js
  assets/js/app.js
Owners: none

Update app.js
  assets/js/app.js
Owners: none

Update Leadership “leadership”
  content/leadership.json
Owners: @PresidentGitHub, @AarnavGitHub

Rename events.hmtl to events.html
  events.html
Owners: none

Update Fundraising Goals “goals”
  content/goals.json
Owners: none

Update Fundraising Goals “goals”
  content/goals.json
Owners: none

Update Site Settings “settings”
  content/settings.json
Owners: @PresidentGitHub, @AarnavGitHub, @AlumniRelationsGitHub

Upload “assets/images/20250405_233957_387929.jpeg”
  assets/images/20250405_233957_387929.jpeg
Owners: none

Upload “assets/images/20250405_233957_306a00.jpeg”
  assets/images/20250405_233957_306a00.jpeg
Owners: none

Upload “assets/images/20250401_230352_39d3ef.jpeg”
  assets/images/20250401_230352_39d3ef.jpeg
Owners: none

Update Fundraising Goals “goals”
  content/goals.json
Owners: none

Update Fundraising Goals “goals”
  content/goals.json
Owners: none

Update Leadership “leadership”
  assets/images/image-10-.jpg
  content/leadership.json
Owners: @PresidentGitHub, @AarnavGitHub

Update Site Settings “settings”
  content/settings.json
Owners: @PresidentGitHub, @AarnavGitHub, @AlumniRelationsGitHub

Create netlify.toml
  netlify.toml
Owners: none

Update netlify.toml
  netlify.toml
Owners: none

Fix gallery loader script
  gallery.html
Owners: none

Improve mobile navigation and hero layout
  assets/css/styles.css
  assets/js/shell.js
  gallery.html
Owners: none

Add comprehensive file index documentation
  FILE_INDEX.md
Owners: none

Add comprehensive file index documentation (#4)
  FILE_INDEX.md
Owners: none

Fix bugs, errors, and code quality issues
  assets/css/styles.css
  assets/js/app.js
  assets/js/shell.js
  gallery.html
  netlify.toml
  netlify/functions/goal-total.js
Owners: none

Improve mobile navigation and hero layout (#3)
  assets/css/styles.css
  assets/js/shell.js
  gallery.html
Owners: none

Add comprehensive image management system
  IMAGE_MANAGEMENT_GUIDE.md
  admin/config.yml
  content/events/brotherhood.json
  content/events/community-service.json
  content/gallery/index.json
Owners: @PresidentGitHub, @AarnavGitHub

CODEOWNERS:

# Replace @handles with actual GitHub usernames.
# Require reviews from specific owners when files in these paths change.

# Exec-level site settings & leadership
/content/settings.json @PresidentGitHub @AarnavGitHub @AlumniRelationsGitHub
/content/leadership.json @PresidentGitHub @AarnavGitHub

# Alumni events – Alumni Relations + Exec
/content/events/alumni/** @AlumniRelationsGitHub @PresidentGitHub @AarnavGitHub

# Community Service events – CS Chair + Exec
/content/events/community-service/** @CommunityServiceChairGitHub @PresidentGitHub @AarnavGitHub

# Philanthropy events – Philanthropy Chair + Exec
/content/events/philanthropy/** @PhilanthropyChairGitHub @PresidentGitHub @AarnavGitHub

# Social / Brotherhood / Academic – respective chairs + Exec
/content/events/social/** @SocialChairGitHub @PresidentGitHub @AarnavGitHub
/content/events/brotherhood/** @BrotherhoodChairGitHub @PresidentGitHub @AarnavGitHub
/content/events/academic/** @ScholarshipChairGitHub @PresidentGitHub @AarnavGitHub

# Gallery – allow PRs from designated roles; exec reviews
/content/gallery/** @PresidentGitHub @AarnavGitHub
