Repository Sabaleaarnav/deltachipurdue, changes with the owners that CODEOWNERS names for each.
All owners: @PresidentGitHub, @AarnavGitHub, @AlumniRelationsGitHub, @CommunityServiceChairGitHub, @PhilanthropyChairGitHub, @SocialChairGitHub, @BrotherhoodChairGitHub, @ScholarshipChairGitHub

CODEOWNERS:

# Replace @handles with actual GitHub usernames.
# Require reviews from specific owners when files in these paths change.

# Exec-level site settings & leadership
/content/settings.json @PresidentGitHub @AarnavGitHub @AlumniRelationsGitHub
/content/leadership.json @PresidentGitHub @AarnavGitHub

# Alumni events – Alumni Relations + Exec
/content/events/alumni/** @AlumniRelationsGitHub @PresidentGitHub @AarnavGitHub

# Community Service events – CS Chair + Exec
/content/events/community-service/** @CommunityServiceChairGitHub @PresidentGitHub @AarnavGitHub

# Philanthropy events – Philanthropy Chair + Exec
/content/events/philanthropy/** @PhilanthropyChairGitHub @PresidentGitHub @AarnavGitHub

# Social / Brotherhood / Academic – respective chairs + Exec
/content/events/social/** @SocialChairGitHub @PresidentGitHub @AarnavGitHub
/content/events/brotherhood/** @BrotherhoodChairGitHub @PresidentGitHub @AarnavGitHub
/content/events/academic/** @ScholarshipChairGitHub @PresidentGitHub @AarnavGitHub

# Gallery – allow PRs from designated roles; exec reviews
/content/gallery/** @PresidentGitHub @AarnavGitHub

Update index.html
  index.html
Owners: none

Update styles.css
  assets/css/styles.css
Owners: none

Update app.js
  assets/js/app.js
Owners: none

Create donors.json
  content/donors.json
Owners: none

Create goals.json
  content/goals.json
Owners: none

Update settings.json
  content/settings.json
Owners: @PresidentGitHub, @AarnavGitHub, @AlumniRelationsGitHub

Update config.yml
  admin/config.yml
Owners: none

Create goal-total.js
  netflify/functions/goal-total.js
Owners: none

Update config.yml
  admin/config.yml
Owners: none

Update settings.json
  content/settings.json
Owners: @PresidentGitHub, @AarnavGitHub, @AlumniRelationsGitHub

Update settings.json
  content/settings.json
Owners: @PresidentGitHub, @AarnavGitHub, @AlumniRelationsGitHub

Update config.yml
  admin/config.yml
Owners: none

Create shell.js
  assets/js/shell.js
Owners: none

Update styles.css
  assets/css/styles.css
Owners: none

Update app.js
  assets/js/app.js
Owners: none

Update index.html
  index.html
Owners: none

Create about.html
  about.html
Owners: none

Create programs.html
  programs.html
Owners: none

Create events.hmtl
  events.hmtl
Owners: none

Create gallery.html
  gallery.html
Owners: none

Update gallery.html
  gallery.html
Owners: none

Create alumni.html
  alumni.html
Owners: none

Create donate.html
  donate.html
Owners: none

Create contract.html
  contract.html
Owners: none

Rename contract.html to contact.html
  contact.html
Owners: none

Update leadership.json
  content/leadership.json
Owners: @PresidentGitHub, @AarnavGitHub

Update config.yml
  admin/config.yml
Owners: none

Update config.yml
  admin/config.yml
Owners: none

Update shell.js
  assets/js/shell.js
Owners: none

Update styles.css
  assets/css/styles.css
Owners: none

Update index.html
  index.html
Owners: none

Create leadership.html
  leadership.html
Owners: none

Update app.js
  assets/js/app.js
Owners: none

Update config.yml
  admin/config.yml
Owners: none

Create index.json
  content/events/index.json
Owners: none

Delete content/events/index.json
  content/events/index.json
Owners: none

Create alumni.json
  content/alumni.json
Owners: none

Create social.json
  content/social.json
Owners: none

Create brotherhood.json
  content/brotherhood.json
Owners: none

Delete content/social.json
  content/social.json
Owners: none
